body {
    margin: 0;
    /* font-family: sans-serif; */
    min-height: 100vh;
    background-color: #e9e9e9;
}

.container {
    width: 100%;
    max-width: 1320px;
    margin: 0 auto;
    padding-right: var(--bs-gutter-x, 0.75rem);
    padding-left: var(--bs-gutter-x, 0.75rem);
    /* margin-right: auto;
    margin-left: auto; */
}

.section {
    /* margin: 120px 0; */
    padding-top: 60px;
    padding-bottom: 60px;
}

.heading span {
    color: #1ac4f3;
}

.text-center {
    text-align: center;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}


/* button style */
.button {
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 20px;
    background: #adddff;
    border: 2px solid #d4d4d4;
    text-transform: uppercase;
    cursor: pointer;
}

.text {
    font-size: 20px;
}

.button:hover {
    background: rgb(136, 205, 255);
}


/* nav bar style */

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background: white;
    box-shadow: 0 1px 5px rgb(37, 89, 124);
    backdrop-filter: blur (10px);
    z-index: 999;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 30px;
    max-width: 1600px;
}

.navbar-logo {
    font-size: 32px;
    font-weight: 600;
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.navbar-menu {
    display: flex;
    text-align: center;
    gap: 22px;
    list-style: none;
}

.navbar-container .navbar-menu li a {
    text-decoration: none;
    color: black;
    font-size: 24px;
    font-weight: 500;
    padding: 4px 20px;
    border-radius: 20px;
    border: 2px solid transparent;
    transition: all 0.7s ease-in-out;
    white-space: nowrap;
}

.navbar-container .navbar-menu li a:hover,
.navbar-container .navbar-menu li a.active {
    color: #162530;
    background: rgb(188, 212, 229);
    border: 2px solid #d4d4d4;
}

.navbar-toggle {
    display: none;
    background: transparent;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    background: black;
    transition: all 0.3s ease-in-out;
}

.banner-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    align-items: center;

}

.banner-content {
    width: 100%;
}

.heading {
    font-size: 58px;
    font-weight: 600;
    margin-bottom: 0;
}

.text {
    font-size: 24px;
}

/* form style */
.banner-form {
    display: flex;
    justify-content: end;
}

.form {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    padding: 30px;
    box-shadow: 0 1px 5px #25597c;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* Input Style*/
.input {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 1px solid #25597c;
    border-radius: 5px;
    box-sizing: border-box;
}

.section-heading {
    font-size: 48px;
    margin: 0;
}

/* card design */
.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 1px 5px #25597c;
    border-radius: 5px;
    overflow: hidden;
}

.card-container {
    padding: 60px 0 20px 0;
    display: grid;
    /* grid-template-columns: repeat(4, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-body {
    margin-top: 0;
    padding: 0 10px 35px 20px;
}

.card-title {
    margin: 0;
    font-size: 24px;
}

.card-text {
    margin: 15px 5px 30px 0;
}

.card-button {
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    border-radius: 20px;
    background: #adddff;
    border: 2px solid #d4d4d4;
    text-transform: uppercase;
}


/* Responsive design  */

/* responsive navbar style */
@media (max-width: 992px) {
    .container {
        .container {
            max-width: 960px;
        }
    }

    .navbar {
        backdrop-filter: none;
    }

    .navbar-logo {
        font-size: 28px;
    }

    .navbar-container .navbar-menu {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 24px !important;
        position: absolute;
        /* height: 100vh; */
        width: 230px;
        top: 0;
        right: 0;
        padding: 100px 24px 50px 0;
        background-color: white;
    }

    .navbar-container .navbar-menu li a:hover {
        padding: 4px 40px;
    }

    .navbar-container .navbar-menu.active {
        display: flex;
    }

    .navbar-toggle {
        display: block;
        z-index: 999;
    }

    .navbar-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .navbar-toggle.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .navbar-toggle.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .banner-container {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .heading {
        font-size: 42px;
    }

    /* card design */
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }

    .navbar-container {
        padding: 0 24px;
        margin-right: 0;
    }

    .navbar-logo {
        font-size: 1.7rem;
    }

    .navbar-container .navbar-menu li a {
        font-size: 1.2rem;
        padding: 3px 15px;
    }

    .navbar-container .navbar-menu {
        padding: 90px 5px 25px 5px;
    }

    .banner-section {
        padding: 40px 15px;
    }

    .heading {
        font-size: 32px;
    }

    .text {
        font-size: 16px;
    }

    .form {
        padding: 25px;
    }

    .input {
        font-size: 16px;
        padding: 12px;
    }

    /* card design */
    .card-container {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 1400px) {}