body {
    background: url('assets/images/White.jpg') no-repeat center fixed;
    background-size: cover;
}

.text-center {
    text-align: center;
}


.login-form {
    margin: auto;
}

.grid {
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
}

.form {
    width: 100%;
    max-width: 450px;
    margin: auto;
    padding: 30px;
    box-shadow: 0 1px 5px #25597c;
    gap: 15px;
    display: flex;
    flex-direction: column;
}

/* Input Style*/
.input {
    width: 100%;
    font-size: 18px;
    padding: 12px;
    margin-bottom: 15px;
    background-color: #f5f5f5;
    border: none;
    border-bottom: 1px solid #25597c;
    border-radius: 5px;
    box-sizing: border-box;
}

.button {
    padding: 10px 30px;
    margin-top: 10px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 15px;
    background: #bfd0ed;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}

.button:hover {
    background: #a3beef;
}

.login-img {
    display: flex;
    margin: auto;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
}